appdirs==1.4.4
asgiref==3.2.10      
async-timeout==3.0.1 
attrs==19.3.0        
autobahn==20.6.2     
Automat==20.2.0      
beautifulsoup4==4.9.1
boto3==1.14.23       
botocore==1.17.23    
CacheControl==0.12.6
certifi==2020.6.20
cffi==1.14.0
channels==2.1.2
chardet==3.0.4
click==7.1.2
cmake==3.18.0
colorama==0.4.3
config==0.5.0.post0
constantly==15.1.0
cryptography==2.9.2
daphne==2.5.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.0.8
django-heroku==0.3.1
dlib==19.20.0
docutils==0.15.2
et-xm
